{% extends "blog/base.html" %} {% load static %}
{% block title %} {{ post.title }} {% endblock %}
{% block page_css %}
  <link rel="stylesheet" href="{% static 'blog/styles/details.css' %}" />
{% endblock %}
{% block content %}
    <img src="{{ post.imageName.url }}" alt="{{ post.title }}" width="300px">
    <h1>{{ post.title }} - {{ post.date|date:'d/m/Y'}}</h1>
    <h2></h2>
    <h2>Excerpt: {{ post.excerpt }}</h2>
    <h2>Author: <a href="mailto:{{ post.author.email }}">{{ post.author.first_name }} {{ post.author.last_name }}</a></h2>
    <p><h2>Content:</h2> {{ post.content }}</p>
    <h2>Tags:</h2>
    <ol>
        {% for tag in post.tag.all %}
            <li>{{ tag }}</li>
        {% endfor %}
    </ol>

    <section>
        <h3>Comments:</h3>
        <form action="{% url 'blog:blog_detail' post.slug %}" method="POST">
            {% csrf_token %}
            {% for field in comment_form %}
            <div class="form-control">
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors }}
            </div>
            {% endfor %}
            <button type="submit">Send</button>
        </form>
    </section>
    <div id="comments">
        <ul>
        {% for comment in comments %}
            <li>{{ comment.user_name }} - {{ comment.text }}</li>
        {% endfor %}
        </ul>
    </div>
    <div id="read-later">
        <form action="{% url 'blog:read-later'%}" method="POST">
            {% csrf_token %}
            <input type="hidden" value="{{ post.id }}"  name="post_id"></input>
            <button>Read later</button>
        </form>
    </div>
{% endblock %}