{% extends "products/base.html" %} {% block content %} {% load static %}

<h2>{{ product.name }}</h2>

<img src="{{ product.picture.url }}" width="100px" alt="{{ product.name }}" />

<p><strong>Description:</strong> {{ product.description }}</p>
<p><strong>Price:</strong> {{ product.price }}$</p>
<p><strong>Category:</strong> {{ product.category.name }}</p>
<p><strong>Favourite:</strong> {{ product.favourite }}</p>

{% if is_favorite %}
  <h2>Es favorito!</h2>
{% else %}
  <form action="/products/favourites/" method="POST">
    {% csrf_token %}
    <input type="hidden" name="product_id" value="{{ product.id }}">
    <button type="submit">Add to Favorites</button>
  </form>
{% endif %}

<a href="{% url 'product-list' %}">← Back to all products</a>

{% endblock content %}
