{% extends 'courses/base.html' %} {% block content %}

<div class="container mt-5">
  <h2>Formulario de Registro</h2>
  <form action="{% url 'registration:registration_details' %}">
    {% csrf_token %}
    <p>
      <label for="id_name">Nombre:</label>
      <input
        type="text"
        class="form-control"
        name="name"
        maxlength="100"
        id="id_name"
        required
      />
    </p>
    <p>
      <label for="id_surname">Apellido:</label>
      <input
        type="text"
        class="form-control"
        name="surname"
        maxlength="100"
        id="id_surname"
        required
      />
    </p>
    <p>
      <label for="id_age">Edad:</label>
      <input
        type="number"
        class="form-control"
        id="age"
        name="age"
        min="18"
        required
      />
    </p>
    <button type="submit" class="btn btn-primary">Registrar</button>
  </form>
</div>
{% endblock %}
